@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

/* 使用了带有 nested 支持的 Tailwind CSS，如果你没用的话，需要自己写 */
#valcosmos-logo {
  --signature-length: 580px;
}

/* https://antfu.me/posts/animated-svg-logo */
#valcosmos-logo #valcosmos-stroke {
  @apply stroke-black dark:stroke-white opacity-100;
  stroke-dashoffset: 1px;
  stroke-dasharray: var(--signature-length) 0;
  animation: grow 7s ease-out forwards infinite;
  transform-origin: center;
  animation-delay: 0s;
}

@media (prefers-reduced-motion) {
  path {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}

@keyframes grow {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 var(--signature-length);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  45% {
    stroke-dasharray: var(--signature-length) 0;
  }

  /* Moving back */
  65% {
    stroke-dasharray: var(--signature-length) 0;
  }

  95%,
  to {
    stroke-dasharray: 0 var(--signature-length);
  }
}
