.posts {
  :global {
    .post-list {
      background-color: #fff;
    }

    .img {
      position: relative;
      width: 60px;
      height: 100%;
    }

    .custom-pagination {
      border: none;
      background-color: transparent;
      width: 100%;
      cursor: pointer;
    }

    .pagination {
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;
    }

    .ant-list-pagination {
      margin: 0;
      padding: 20px;
    }

    .ant-list-item-action {
      li {
        // max-width: 200px;
        text-align: left;
      }
    }

    @media screen and (min-width: 768px) {
      .timebox {
        width: 300px;
        display: inline-block;
      }
    }
  }
}
