.hots {
  :global {
    .hot-list {
      background-color: #fff;
    }
    .ant-list-item {
      border: none;
      padding: 0;
    }
    .title {
      display: flex;
      align-items: center;
      padding: 5px;
      padding-right: 10px;
      border-radius: 20px;
      transition: all ease .3s;
      width: 100%;
      overflow: hidden;
      cursor: pointer;

      .title-content {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:hover {
        background: #e5e5e5;
      }
    }
  }
}

.ant-badge {
  sup {
    border-radius: 5px;
    border: none;
  }
}
