.detail {
  background: #fff;
  padding-top: 20px;

  :global {
    h1 {
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    .count-data {
      display: flex;
      justify-content: center;
    }

    .content {
      .side {
        position: fixed;
        margin-left: -100px;
        display: flex;
        flex-direction: column;
      }

      .footer {
        display: none;
      }
    }

    @media screen and (max-width: 1061px) {

      .side {
        display: none !important;
      }
      .footer {
        display: flex !important;
        justify-content: center;
        margin-top: 20px;
      }
    }

    .comment {
      background-color: #fff;
    }

  }
}
