.commentForm {
  :global {
    .form-footer {
      display: flex;
      justify-content: flex-end;
      .ant-input {
        width: 200px;
        height: 32px;
      }
      .btn {
        // display: flex;
        // align-items: center;
      }
    }

    .info {
      color: rgba(0, 0, 0, 0.25);
      text-align: right;
    }
  }
}
