.links {
  :global {
      .ant-card-cover {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0;
    height: 120px;
    img {
      // width: 80px!important;
    }
  }

  .ant-card-meta-detail {
    .ant-card-meta-title,
    .ant-card-meta-description {
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .ant-card-meta{
    display: flex;
    justify-content: center;
  }


  }

}
