.openSource {

  :global {
    .ant-card-cover {
      padding-top: 20px;
    }

    .repo-cover {
      position: relative;
      height: 80px;
    }

    .ant-card-meta-title {
      text-align: center;
    }
  }
}
